.wrapper{
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: baseline ;
    
}

.Button {
    padding: 50px;
    border: 3px solid blue;
    border-radius: 15px;
    font-weight: 600;
    font-size: larger;
}